
.App-header{
  width: 100%;
  height: 100px;
  background-color: cyan;
}
.App-header-ul{
  margin-left: 1520px;
}
.App-header-li{
  display: inline-block;
  width: 80px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;

}
.table {
  border: tomato solid 2px;
  width: 110px;
  height: 50px;
}
.App-TabHead-Td1,.App-TabHead-Td2,.App-TabHead-Td3,.App-TabHead-Td4 {
  border: black solid 1px;
  width: 100px;
  height: 30px;
}
.p1 {
  display: none;
}
